body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #c59120ef;
}

.banner-column{
    background-color: #85708f
}

.navbar-container{
position: sticky;
top: 0;
z-index: 1;
}

.about-container{
    background-color: #2890cc;
    
}

.education-container{
    background-color: rgba(184, 15, 94, 0.616);
}

.card{
    background-color: whitesmoke
}
.project-container{
background-color: lightslategrey;
}

.portfolio-container{
background-color: rgba(82, 187, 21, 0.363);
font-family: 'Passions Conflict', cursive;
}

.contact-container{
    background-color: rgba(4, 60, 68, 0.884);

}

.footer{
    background-color: #af80c4;
}



.inner-form{
    background-color: #B9B3AA ;
}

input:hover, textarea:hover{
    background-color: white;
}

button:hover{
    background-color: white;
    color:  #af3a7a!important;
    font-weight: bold;
}
.commonbg{
    background-color: darkgrey;
}

.commontxt{
    color: rgba(247, 21, 21, 0.89);
}

.btn-clr{
    background-color: #af3a7ac9;
}
.circle{
    background-color: rgba(223, 87, 9, 0.856);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.icon{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    display: inline-block;
    margin: auto;
    color: #2890cc;

}